# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Packaging

build/
dist/
*.egg-info/

# Test / coverage / mypy
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db


# Учебные файлы Skypro
src/intersections.py
